*{
    padding: 10px;
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
hr{
    height: 0px;
    border: none;
    border-top: 1px solid silver;
    margin-top: 25px;   
    width: 100%;       

}
body{
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;    
}

header{
    width: 100%;
    height: 50px;
    background-color: aliceblue;
    margin-left: -10px;
    margin-top: -12px;
    margin-bottom: 15px;
    opacity: 0.6;
        
}
#small{
    height: -1px;
    width: 7px;
    background-color: green;
    float: left;
    margin-left: -50px;
}
.main{    
    padding: 30px;
    margin-top: -25px;
}

.base{
    background-color: #fff;
    height: 550px;
    width: 400px;
    border-radius: 10px;
    margin: auto;      
}

.social{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: 0;    
}

.enter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
    margin: 0;    
}


.enter #signup{    
    margin: 0;  
    margin-left: -30px;  
} 

.enter #login{    
    margin: 0;  
    margin-right: -30px;  
    font-size: 12px;
} 

.social .link{
    width: 135px;
    height: 30px;   
    border-radius: 4px;   
    text-decoration: none;
    color: white;
}
.social .link:first-child{
    background-color: blue;
}
.social .link:nth-child(2){
    background-color:red;
}

#hrbet{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 5px 0;
    width: 100%;
    align-items: center;
    margin: 0;
    margin-bottom: -20px;
}

.inputarea{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    
}

.inputarea .input{  
    width: 100%;
    cursor: pointer;
    margin: 5px 0;
    border-radius: 4px;
    border: 1px solid silver;
}

.inputarea .input:hover {    
    box-shadow: 0 0 5px silver;
  }

.checkbox{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.checkbox input{    
    color: green;
    background-color: #04AA6D;
}

.buttonsubmit{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
}


.buttonsubmit input {
   width: 100%;
   background-color: #04AA6D;
   border-radius: 4px;
   border: none;
   color: white;
   font-size: 16px;
   margin: 0;

}